## 查看数据

In [ ]:
import pandas as pd
import numpy as np
dates=pd.date_range('20190310',periods=6,freq='D')
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A','B','C','D'])#生成6行4列位置
print(df)#输出6行4列的表格

#数据的形状、大小
df.shape

In [ ]:
#列数据的类型
print(df.dtypes)
print('--------------------------')
print(type(df))
print('--------------------------')
print(df["A"].dtypes)
print('--------------------------')
print(type(df["A"]))

In [ ]:
#数据的列名
df.columns

In [ ]:
#数据的描述,查看数据大体信息，字段类型、是否有空行等
df.info()

In [ ]:
#数据的描述,查看数据大体信息:列中数据的值计数，平均值，标准差，最小值，最大值以及第 25，第 50和第75的中位数.
#方差公式：s^2=[(x1-x)^2 +...(xn-x)^2]/n；标准差公式：s=sqrt(s^2)
df1 = pd.DataFrame([[1,1,1,1],[2,2,2,2],[3,3,3,3],[4,4,4,4],[5,5,5,5],[6,6,6,6]], columns=['A','B','C','D'])#生成6行4列位置
print(df1)
print(df1.describe())

In [ ]:
column_name=['id','var1','var2','var3','var4','var5']  #使用列表创建列名 
df=pd.DataFrame(np.arange(3600).reshape(600,6),columns=column_name) 

print(df)#输出6行4列的表格
print('---------------------------------------------------------')

# 查询数据的前部分
print('df.head()  \n',df.head())   #参数为空，默认显示前5行

print('df.head(15)  \n',df.head(15))

# df.tail()查询数据的尾部 用法与df.head()相同
print('df.tail()  \n',df.tail())   #参数为空，默认显示后5行

In [ ]:

df1 = pd.DataFrame([[1,1,1,1],[2,2,2,2],[3,3,3,3],[4,4,4,4],[5,5,5,5],[6,6,6,6]], columns=['A','B','C','D'])#生成6行4列位置
print(df1)
#行的序号
print(df1.index)
#列的序号名字
print(df1.columns)
#把每个值进行打印出来
print(df1.values)

In [ ]:
print(df1.mean())   # 列平均值
#print(type(df.mean()))
print(df1.std())   # 列标准差值

print(df1["A"].mean())   # "A"列平均值

In [ ]:
print(df.mean(1))   # 行平均值
print('--------------------------------------')
print(df.std(1))    # 行标准差值

## 选择数据

In [ ]:
import numpy as np
import pandas as pd

dates=pd.date_range('20190310',periods=6,freq='D')
column_name=['var1','var2','var3','var4','var5','var6']
df = pd.DataFrame(np.random.randn(6,6), index=dates, columns=column_name)#生成6行4列位置

print(df)#输出6行4列的表格
print('---------------------------------------------------------')

In [ ]:
# 选择某一列
df['var1']

In [ ]:
# 选择某几列
df[['var1','var2']]

In [ ]:
# 选择某几行
df[0:3]

In [ ]:
#根据标签loc-行标签进行选择数据
df.loc['2019-03-10',['var1','var2']]

In [ ]:
#根据序列iloc-行号进行选择数据
print(df.iloc[3, 1])#输出第三行第一列的数据
print(df.iloc[3:5,0:2])#进行切片选择
print(df.iloc[[1,2,4],[0,2]])#进行不连续筛选

In [ ]:
# 根据混合的两种ix
print(df.ix[:3, ['var1', 'var2']])

In [ ]:
# 根据条件选择
df.loc[(df.var1>1) & (df.var1<2)]  # 选择id列中大于1，小于2 的数据

In [ ]:
# 根据条件选择
df[(df.var1>1) & (df.var1<2)]  # 选择id列中大于1，小于2 的数据

In [ ]:
# 根据条件选择
df.loc[(df.var1>1) & (df.var1<2),['var1','var5']]  # 选择id列中大于100，小于150 的数据,，并且只展示某几列

In [ ]:
import pandas
scientists = pandas.read_csv('../data/scientists.csv')
ages = scientists['Age']
print(ages)
print('-------------1-----------------------')
print(ages.describe())
print('-------------2-----------------------')
print(ages[ages > ages.mean()])
print('-------------3-----------------------')
print(ages > ages.mean())
print('-------------4-----------------------')
print(type(ages > ages.mean()))
print('-------------5-----------------------')
print(ages[[True,True,False,True,False,True,True,False]])

## Pandas设置数据

In [1]:
import numpy as np
import pandas as pd
dates = pd.date_range('20180310', periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)), index=dates, columns=['A', 'B', 'C', 'D'])
print(df)

             A   B   C   D
2018-03-10   0   1   2   3
2018-03-11   4   5   6   7
2018-03-12   8   9  10  11
2018-03-13  12  13  14  15
2018-03-14  16  17  18  19
2018-03-15  20  21  22  23

In [ ]:
#根据loc和iloc设置
df.iloc[2,2] = 999#单点设置
df.loc['2018-03-13', 'D'] = 999
print(df)

In [ ]:
#根据条件设置
df[df.A>0]=999  #将df.A大于0的值改变
print(df)

In [4]:
#根据行或列设置

df['F']=np.nan
print(df)

             A   B   C   D   E   F
2018-03-10   0   1   2   3 NaN NaN
2018-03-11   4   5   6   7 NaN NaN
2018-03-12   8   9  10  11 NaN NaN
2018-03-13  12  13  14  15 NaN NaN
2018-03-14  16  17  18  19 NaN NaN
2018-03-15  20  21  22  23 NaN NaN

In [3]:
#添加数据
df['E']  = pd.Series([1,2,3,4,5,6], index=pd.date_range('20180313', periods=6))#增加一列
print(df)

print('--------------------------------------------')
df['E']  = pd.Series([1,2,3,4,5,6])#增加一列
print(df)

             A   B   C   D    E
2018-03-10   0   1   2   3  NaN
2018-03-11   4   5   6   7  NaN
2018-03-12   8   9  10  11  NaN
2018-03-13  12  13  14  15  1.0
2018-03-14  16  17  18  19  2.0
2018-03-15  20  21  22  23  3.0
--------------------------------------------
             A   B   C   D   E
2018-03-10   0   1   2   3 NaN
2018-03-11   4   5   6   7 NaN
2018-03-12   8   9  10  11 NaN
2018-03-13  12  13  14  15 NaN
2018-03-14  16  17  18  19 NaN
2018-03-15  20  21  22  23 NaN

In [5]:
#删除列
df.drop(["D","E"],axis = 1)

             A   B   C   F
2018-03-10   0   1   2 NaN
2018-03-11   4   5   6 NaN
2018-03-12   8   9  10 NaN
2018-03-13  12  13  14 NaN
2018-03-14  16  17  18 NaN
2018-03-15  20  21  22 NaN